* {
  box-sizing: border-box;
  font-family: Segoe UI, sans-serif;
  user-select: none;
}

body {
  margin: 0;
  height: 100vh;
  background: linear-gradient(135deg, #0a6cff, #00c6ff);
  overflow: hidden;
}

#desktop {
  width: 100%;
  height: 100%;
}

#taskbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  background: rgba(30,30,30,0.85);
  display: flex;
  align-items: center;
  padding: 0 10px;
}

#start {
  background: #0a84ff;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  cursor: pointer;
}

#startMenu {
  position: fixed;
  bottom: 60px;
  left: 10px;
  width: 260px;
  background: rgba(40,40,40,0.95);
  color: white;
  border-radius: 12px;
  padding: 10px;
  display: none;
}

.window {
  position: absolute;
  top: 120px;
  left: 120px;
  width: 300px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0,0,0,.3);
}

.window-header {
  background: #0a84ff;
  color: white;
  padding: 8px;
  border-radius: 12px 12px 0 0;
  display: flex;
  justify-content: space-between;
  cursor: move;
}

.window-content {
  padding: 10px;
}

.close {
  cursor: pointer;
}

#boot {
  position: fixed;
  inset: 0;
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.boot-center {
  text-align: center;
  color: white;
}

.loader {
  width: 50px;
  height: 50px;
  border: 4px solid #333;
  border-top: 4px solid #0a84ff;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: 0 auto 15px;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}

.hidden {
  display: none;
}

/* ПЛАВНОЕ ПОЯВЛЕНИЕ */
#system {
  animation: fadeIn 1.0s ease;
}

@keyframes fadeIn {
  from { opacity: 0 }
  to { opacity: 1 }
}

body.booting {
  cursor: none;
}

.desktop-icon div {
    background: rgba(255,255,255,0.2);
    padding: 5px;
    border-radius: 5px;
}
.desktop-context div {
    padding: 3px 10px;
    cursor: pointer;
}
.desktop-context div:hover {
    background: #aaa;
}

